<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" color="danger"></ion-back-button>
        </ion-buttons>
        <ion-title>Productos
            <ion-icon name="bag-outline"></ion-icon>
        </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    
    <div class="mat-elevation-z8">
      <ion-card>
        <ion-card-header>
            <ion-card-title>Arreglo floral Alejandra</ion-card-title>
            <ion-card-subtitle>Incluye florero</ion-card-subtitle>
            <ion-card-subtitle>$35.000</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <img src="https://www.daflores.com/images/product_big_0017.jpg">
        </ion-card-content>
        <ion-chip (click)="openDetailsWithState()" color="danger">
             <ion-icon name="heart-outline"></ion-icon>
            <ion-label>Comprar</ion-label>
        </ion-chip>
    </ion-card>
    <ion-card>
      <ion-card-header>
          <ion-card-title>Arreglo floral Hasbleidy</ion-card-title>
          <ion-card-subtitle>Incluye florero</ion-card-subtitle>
          <ion-card-subtitle>$40.000</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <img src="https://www.daflores.com/images/product_big_0221.jpg">
      </ion-card-content>
      <ion-chip (click)="openDetailsWithState()" color="danger">
           <ion-icon name="heart-outline"></ion-icon>
          <ion-label>Comprar</ion-label>
      </ion-chip>
    </ion-card>
    <ion-card>
      <ion-card-header>
          <ion-card-title>Arreglo floral Kellyn</ion-card-title>
          <ion-card-subtitle>Incluye florero</ion-card-subtitle>
          <ion-card-subtitle>$45.000</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <img src="https://www.daflores.com/images/product_big_0295.jpg">
      </ion-card-content>
      <ion-chip (click)="openDetailsWithState()" color="danger">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-label>Comprar</ion-label>
      </ion-chip>
  </ion-card>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Arreglo floral Julia</ion-card-title>
        <ion-card-subtitle>Incluye florero</ion-card-subtitle>
        <ion-card-subtitle>$30.000</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="https://www.daflores.com/images/product_big_0018.jpg">
    </ion-card-content>
    <ion-chip (click)="openDetailsWithState()" color="danger">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Comprar</ion-label>
    </ion-chip>
        </ion-card>
      </div>
  </ion-content>