<ion-header>
  <ion-toolbar>
      <ion-title>Sube o toma fotos
          <ion-icon name="heart-outline"></ion-icon>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Vamos a subir fotos" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Comienza esta experiencia</ion-card-title>
      <ion-card-subtitle>Sube tus fotos</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
      <ion-icon name="arrow-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
      <ion-fab-button (click)="openDetailsWithState()">
          <ion-icon name="image"></ion-icon>
      </ion-fab-button>
      
  </ion-fab-list>
</ion-fab>
</ion-content>

