<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          Acerca de
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
      <ion-card-header>
          <ion-card-subtitle>Diana Alejandra Barrera Wilches</ion-card-subtitle>
          <ion-card-title>Pagina Final</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          La presentación de esta página es con el fin de sustntar el trabajo de la Actividad4 en Computacion Movil, la cuál contiene los siguientes ítems:
      </ion-card-content>
  </ion-card>
  <ion-list>
      <ion-item>
            <ion-label>Precentacion de todas las interfaces</ion-label>
            <ion-checkbox slot="start" color="warning"></ion-checkbox>
        </ion-item>
      <ion-item>
          <ion-label>Validacion login</ion-label>
          <ion-checkbox slot="start" color="tertiary"></ion-checkbox>
      </ion-item>
      
      <ion-item>
          <ion-label>Formularios Activos</ion-label>
          <ion-checkbox slot="start" color="danger"></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-label>Cruds</ion-label>
          <ion-checkbox slot="start" color="light"></ion-checkbox>
      </ion-item>
      <ion-item>
          <ion-label>Firebase</ion-label>
          <ion-checkbox slot="start" color="secondary"></ion-checkbox>
      </ion-item>
  </ion-list>


</ion-content>